

.signup-button {
    background-color:  rgb(107, 8, 8);
    border-radius: 10px;
    height: 30px;
    width: 100px;
    border: none;
    color: white;
    text-align: center;
    font-size: small;
}